body{
    background: black;
    font-family: 'Lato', sans-serif;
    color: white;
}

header{
    height: 74px;
    display: flex;
    justify-content: space-between;
   

    nav{
        display: flex;
        flex-direction: row;
        
        a{
            font-size: 28px;
            text-decoration: none;
            color: white;
            padding: 8px 0px 13px 13px;
            .noxu{
                font-weight: 700;
            }
        }
        ul{
            list-style: none;
            display: flex;
            li{
                
                a{
                    width: 74px;
                    font-size:18px;
                    justify-content: space-around;
                    padding: 6px;
                    color:gray;
                    &:active{
                        color:white;
                    }
                }
                
                ul{
                    display: none;
                    

                }

                
                    
            }
            
        }
    }
    div{
        input{
            font-size: 16px;
            height: 38px;
        }
        button{
            font-size: 16px;
            width: 77px;
            height: 38px;
        }
        
    }
    
}
  
            
        
    
              

        
        
              
  