
section.cards{
    
    
    div.button{
        display: flex;
        justify-content: center;
        padding-top: 15px;
        button{
            font-size: 29px;
            border-radius: 3px;
            background: black;
            color: white;
            padding: 15px;
        
        }
    }
    h2{
        font-size: 28px;
        width: 100;
        text-align: center;
    }
    div.images{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
       
        
        div.container-card{ 
            width: 70%;
            background: white;
            margin: 12px;
            height: 321px ;
       
            
            div.img{
                height: 250px;
                overflow: hidden;
                
                img{
                    width: 100%;
                    direction: column;
                    justify-content: center;
                
                }
            }
            div.description{
                color:black;
                
            
            }
        }
    }   
} 

@media (min-width: 768px) {
    section.cards>div.images>div.container-card{ 
        width: 45%;       
    }
}

@media (min-width: 991px) {
    section.cards>div.images>div.container-card{ 
        width: 30%;       
    }
}
