
section.cards{
    
    
    div.button{
        display: flex;
        justify-content: center;
        button{
            font-size: 29px;
            border-radius: 3px;
            background: black;
            color: white;
            padding: 15px;
        
        }

    }
    h2{
        font-size: 28px;
        width: 100;
        text-align: center;
    }
    div.images{
        display: flex;
        flex-direction: column;
        align-items: center;
        div.container-card{ 
            width:455.22px;
            height: 353px;
            background: white;
            margin: 12px;
           
            div.img{
                width:455.22px;
                height: 250px;
                overflow: hidden;
                

                img{
                    height:455.22px;
                    width: 455.22px;
                    direction: column;
                    justify-content: center;
                }

            }
            

        }
           
    }
    
    
} 

@media (min-width: 768px) {
    section.cards>div.images{
        flex-wrap: wrap;
        flex-direction: initial;
        img{
            width: 50%;
        }
    }
}

@media (min-width: 991px) {
    section.cards>div.images{
        img{
            
            width: 33.3%;
        }
    }
}
